<div class="well">
  <a routerLink="/lugares">Lugares</a>/Crear lugar
</div>
<div class="container">
  <label>Nombre</label>
  <input [(ngModel)]="lugar.nombre" type="text" class="form-control" placeholder="Nombre" />
  <br />
  <label>Distancia</label>
  <input [(ngModel)]="lugar.distancia" type="text" class="form-control" placeholder="Distancia" />
  <br />
  <label>Cercania</label>
  <input [(ngModel)]="lugar.cercania" type="text" class="form-control" placeholder="Cercania" />
  <br />
  <label>Descripcion</label>
  <input [(ngModel)]="lugar.descripcion" type="text" class="form-control" placeholder="Descripcion" />
  <br />
  <label>Plan</label>
  <input [(ngModel)]="lugar.plan" type="text" class="form-control" placeholder="Plan" />
  <h3>Datos de Direccion</h3>
  <label>Calle y Numero</label>
  <input [(ngModel)]="lugar.calle" type="text" class="form-control" placeholder="Calle" />
  <label>Ciudad</label>
  <input [(ngModel)]="lugar.ciudad" type="text" class="form-control" placeholder="Ciudad" />
  <label>Pais</label>
  <input [(ngModel)]="lugar.pais" type="text" class="form-control" placeholder="Pais" />
  <br />
  <hr />
  <a class="btn btn-primary" (click)="guardarLugar()">Enviar</a>
  <a class="btn btn-default" routerLink="/lugares">Cancelar</a>
</div>
